{  "parser": "@typescript-eslint/parser",  "extends": [    "eslint:recommended",    "plugin:@typescript-eslint/recommended",    "plugin:prettier/recommended"  ],  "plugins": [    "@typescript-eslint",    "prettier",    "unused-imports"  ],  "rules": {    "prettier/prettier": ["error"],    "unused-imports/no-unused-imports": "error",     "@typescript-eslint/ban-ts-comment": [      "error",      {        "ts-ignore": "allow-with-description",        "minimumDescriptionLength": 10      }    ],    "unused-imports/no-unused-vars": [      "warn",      {        "vars": "all",        "varsIgnorePattern": "^_",        "args": "after-used",        "argsIgnorePattern": "^_"      }    ]  },  "parserOptions": {    "ecmaVersion": 2023,    "sourceType": "module",    "project": "./tsconfig.json"  }}